body
{
        font-family: 'Roboto', sans-serif;
background: url("tlo.jpeg");
  background-position: center;
        font-size: 26px;
        margin: 0;
        color: white;
    }

    section
{
  align:center;
    }

    #ladny_zegar
    {
        font-weight: 400;
        letter-spacing: 30px;
        font-size: 200px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        height:240px;
        width: 650px;
        background-color:#59182b;


  -webkit-box-shadow: 7px 9px 20px 0px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    7px 9px 20px 0px rgba(50, 50, 50, 0.9);
  box-shadow:         7px 9px 20px 0px rgba(50, 50, 50, 0.9);
    }
#ladny_zegar:hover
{
  cursor:default;
}

    #big_container
    {

        margin-top: 30px;
        width: 500px;
        height: 300px;

        margin-left:auto;
        margin-right: auto;
    }
#i1
{
  margin-right: 57px;
}
#i2
{
  margin-right: 57px;
  margin-left: 57px;
}
#i3
{
  margin-left: 57px;
}
#i4
{
  margin-right: 57px;

}
#i5
{
  margin-right: 57px;
  margin-left: 57px;
}
#i6
{
  margin-left: 57px;
}
    .icon_bar
    {
        box-shadow:         7px 9px 20px 0px rgba(50, 50, 50, 0.9);
      margin-top: 10px;
      margin-bottom: 10px;
      float: left;

      line-height: 85px;


        font-size: 60px;
  text-align:center;
        width: 90px;
        height: 90px;

  background-color:#59182b;
  border-radius: 50%;

  transition: opacity 0.6s;

    }
.icon_bar:hover
{
  cursor: pointer;
  opacity: 0.5;

  transition: 600ms;
}

    }
    .icon_bar a:visited
    {
      text-decoration:  none;
      color: inherit;
    }
    .icon_bar:hover
    {
      cursor: pointer;
      background-color: white;
      color:#59182b;
      transition: 500ms;
    }


    header
    {
        height: 100px;
        width: 100%;
    }

    #search_bar
    {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-left: auto;
      margin-right: auto;
    }

    #search
    {
      box-shadow:  7px 9px 20px 0px rgba(50, 50, 50, 0.9);
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 280px;
      height: 30px;
      padding: 15px;
      border: 3px solid #8d2545;
      border-radius: 15px;

      color: #8d2545;
      align: center;
      font-size: 28px;

      transition: width 1s,height 1s;
      transition-timing-function: ease-in;

    }
    #search:focus
    {
      transition-timing-function: ease-in;
      width: 400px;
      height: 40px;
      outline: none;
      transition: 1s;
    }
